body{
    background-color: #7f7f7f;
    font-family: Kanit;
    color: #ffffff;
}

#navbar{
    background-color: #4d4d4d;
    border: 5px solid #000000;
    position: fixed;
    padding: 10px;
    top: 5px;
    gap: 10px;
    border-radius: 15px;
    z-index: 1;
}

#main{
    margin-top: 10vh;
    text-align: center;
}

.info{
    font-size: xx-large;
    position: relative;
    margin: 0;
}

.left{
    float: left;
}

.right{
    float: right;
}


img{
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.LT{
    margin-top: 30px;
    height: 280px;
}

.koniec{
    height:500px;
    border:solid black 5px;
    border-radius:10px;
}